<!DOCTYPE html>
<html lang="en">
<html prefix="og: https://ogp.me/ns#"></html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>Logo.ico">
    <title>Jose Benito Llorens</title>
    <meta property="og:title" content="Website of Jose Benito LLorens" />
    <meta property="og:url" content="https://jbenitollorens.me/" />
    <meta property="og:image" content="https://web-jbll.s3.eu-west-3.amazonaws.com/SocialMediaPreview.png" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>  </body>
</html>
